/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Old+Standard+TT&display=swap");

:root {
  --black: rgba(0,0,16,.8);
  --yale-blue: #054a91ff;
  --steel-blue: #3e7cb1ff;
  --iceberg: #81a4cdff;
  --alice-blue: #dbe4eeff;
  --heat-wave: #f17300ff;
}

#filterFoods {
  background-color: green;
}

body, 
html {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 1rem 2rem;
  background-color: var(--steel-blue);
  color: var(--alice-blue);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.main-container{
  padding: 1rem 2rem;
}

.form-container {
  padding: 1rem 2rem;
}

.food-container {
  background-color: white;
}

/*filters*/

.card {
  display: flex;
  background-color: white;
  border: 1px black solid;
}

.filters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minxmax(300px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.filter-card {
  padding: .8rem;
}

.filter-container {
  padding: .4rem .8rem;
}

.filter {
  background-color: var(--black);
  padding: .4rem .4rem .1rem .4rem;
  border: 3px solid var(--blue);
  border-radius: 2.2rem;
}

.filter-form {
  display: flex;
  align-items: center;
}

.filter-all + span {
  font-size: 1.2 rem;
  padding: .5rem 1rem;
  color: var(--off-white);
}

#product-count {
  margin: 0 auto;
  background-color:pink;
  text-align: center;
}

/*Product Display*/

.food-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  grid-gap: 1rem;
  background-color: var(--steel-blue);
  padding: 1rem;
}

.product-wrapper {
  display: grid;
  padding: .3rem;
  grid-auto-columns: 1fr;
  background-color: var(--iceberg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-image {
  width: 250px;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.product-image:hover{
  transform: scale(1.05);
  transition: transform .2s;
}

.product-line {
  justify-content: center;
}