/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

:root {
  --black: rgba(0,0,16,.8);
  --color1:  #D56800;
  --color2:  #AD6A3F;
  --color3: #D7B751;
  --color4:  #B72A27;
  --color5: #3E1C00;
}

body, 
html {
  font-family: 'Yatra One', cursive;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 1rem 2rem;
  background-color: var(--color1);
  color: var(--color5);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

/*Choose Food*/

#form-container {
  padding: .5rem;
  border: 5px solid red;
}

.radio-card{
  display: flex;
  align-items: center;
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio] + img:hover {
  opacity: 0.3;
}

.label-text {
  font-size: 2rem;
  margin: 1.7em;
  display: block;
  position: absolute;
  background-color: rgba(192,192,192,0.75);
}

#form-container{
  display: grid;
  background-color: var(--color4);
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 1rem;
  background-color: var(--color4);
  align-items: center;
  text-align: center;
  grid-gap: .5rem;
}

/*Product Display*/

.food-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  grid-gap: 1rem;
  background-color: var(--color2);
  padding: 1rem;
}

.product-wrapper {
  display: grid;
  padding: .3rem;
  grid-auto-columns: 1fr;
  background-color: var(--color3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-image {
  width: 250px;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.product-image:hover{
  transform: scale(1.05);
  transition: transform .2s;
}

.product-line {
  justify-content: center;
}